In [1]:
import pandas as pd
import json

with open("results.json", "r") as f:
    results = json.load(f)

In [2]:
results.keys()


def compare_odds(mine: float, theirs: float) -> float:
    """return in cent per euro invested

    Args:
        mine (float): _description_
        theirs (float): _description_

    Returns:
        float: _description_
    """
    our_perc = 1 / mine
    expected_return = theirs*our_perc - 1
    return expected_return*100

groups = {
    "Germany": "A",
    "Scotland": "A",
    "Hungary": "A",
    "Switzerland": "A",
    "Spain": "B",
    "Croatia": "B",
    "Italy": "B",
    "Albania": "B",
    "Slovenia": "C",
    "Denmark": "C",
    "Serbia": "C",
    "England": "C",
    "Poland": "D",
    "Netherlands": "D",
    "Austria": "D",
    "France": "D",
    "Belgium": "E",
    "Slovakia": "E",
    "Romania": "E",
    "Ukraine": "E",
    "Turkey": "F",
    "Georgia": "F",
    "Portugal": "F",
    "Czech Republic": "F"
}

In [17]:
compare_odds(12, 25)

108.3333333333333

In [36]:
group_games

,team1,team2,group,team1_goals,team2_goals,team1_market_value_distance,team2_market_value_distance,distance
0,Italy,Turkey,A,3,0,0.385466,-0.385466,3
1,Switzerland,Wales,A,1,1,0.067042,-0.067042,0
2,Wales,Turkey,A,2,0,-0.077317,0.077317,2
3,Switzerland,Italy,A,0,3,-0.395741,0.395741,3
4,Turkey,Switzerland,A,1,3,0.010275,-0.010275,2
...,...,...,...,...,...,...,...,...
82,France,Germany,F,1,0,0.144970,-0.144970,1
83,Hungary,France,F,1,1,-0.956234,0.956234,0
84,Portugal,Germany,F,2,4,-0.138437,0.138437,2
85,Portugal,France,F,2,2,-0.283406,0.283406,0
86,Germany,Hungary,F,2,2,0.811264,-0.811264,0

In [30]:
group_games["distance"] = (group_games["team1_goals"] - group_games["team2_goals"]).abs()

In [35]:
(group_games["team1_goals"].astype(str)+ "-" + group_games["team2_goals"].astype(str)).value_counts(normalize=True)

1-1    0.111111
0-1    0.111111
1-0    0.111111
3-0    0.069444
0-3    0.069444
2-0    0.055556
2-2    0.055556
0-0    0.055556
0-2    0.055556
3-1    0.041667
1-2    0.041667
2-1    0.041667
1-3    0.041667
2-3    0.027778
3-2    0.027778
4-1    0.013889
5-0    0.013889
4-2    0.013889
1-4    0.013889
0-5    0.013889
2-4    0.013889
Name: proportion, dtype: float64

In [27]:
team_1_elo = 1981
team_2_elo = 1733

team_1_win_perc = 1 / (1 + 10**((team_2_elo - team_1_elo) / 400))
team_1_win_perc

0.8065275228171078

gruppe des gesamtsiegers: C (unsere odds: 2.9, tipico: 3.8)
most_goals: England 3.796133

In [4]:
import itertools
def get_occurences_of_top_two_teams(group: str):
    group_placements = pd.Series(results["group_placements"][group]).reset_index()
    
    group_placements[["first", "second", "third", "fourth"]] = group_placements["index"].str.split("|", expand=True)
    teams = group_placements["first"].unique()
    combinations = list(itertools.combinations(teams, 2))
    print(combinations)
    for teams in combinations:
        occurrences = group_placements.loc[(
            (group_placements["first"].isin(teams)) & (group_placements["second"].isin(teams))
        )][0].sum()
        print(teams, occurrences, 1 / (occurrences / 500_000))

get_occurences_of_top_two_teams("C")

[('England', 'Serbia'), ('England', 'Slovenia'), ('England', 'Denmark'), ('Serbia', 'Slovenia'), ('Serbia', 'Denmark'), ('Slovenia', 'Denmark')]
('England', 'Serbia') 161475 3.096454559529339
('England', 'Slovenia') 112859 4.43030684305195
('England', 'Denmark') 201681 2.47916263802738
('Serbia', 'Slovenia') 5295 94.42870632672332
('Serbia', 'Denmark') 11647 42.92950974499871
('Slovenia', 'Denmark') 7043 70.99247479767145

In [27]:
compare_odds(17.408864593851188, 40)

129.76800000000003

<!-- Scotland Germany 40839 12.243198903009379 -->
Hungary Germany 35811 13.962190388428136
gruppe des gesamtsiegers: C (unsere odds: 2.9, tipico: 3.8)
('Switzerland', 'Hungary') 33268 15.029457737164844
('Scotland', 'Switzerland') 37214 13.435803729779117
('Scotland', 'Hungary') 28721 17.408864593851188

In [24]:
compare_odds(10.03, 11)

9.67098703888336

In [21]:
import itertools
def get_occurences_of_top_two_teams(group: str):
    group_placements = pd.Series(results["group_placements"][group]).reset_index()
    
    group_placements[["first", "second", "third", "fourth"]] = group_placements["index"].str.split("|", expand=True)
    first = "Switzerland"
    second = "Germany"
    occurrences = group_placements.loc[(
        (group_placements["first"] == first) & (group_placements["second"] == second)
    )][0].sum()
    print(first, second, occurrences, 1 / (occurrences / 500_000))

get_occurences_of_top_two_teams("A")

Switzerland Germany 49826 10.034921526913658

In [51]:
teams = group_placements["first"].unique()

In [11]:
results["group_placements"]["A"]

{'Germany|Switzerland|Scotland|Hungary': 52020,
 'Scotland|Germany|Switzerland|Hungary': 21607,
 'Germany|Hungary|Switzerland|Scotland': 43422,
 'Germany|Scotland|Switzerland|Hungary': 48060,
 'Switzerland|Hungary|Germany|Scotland': 11519,
 'Germany|Switzerland|Hungary|Scotland': 48546,
 'Scotland|Germany|Hungary|Switzerland': 19232,
 'Scotland|Switzerland|Germany|Hungary': 12270,
 'Switzerland|Germany|Hungary|Scotland': 24284,
 'Hungary|Scotland|Germany|Switzerland': 8912,
 'Germany|Scotland|Hungary|Switzerland': 42141,
 'Switzerland|Germany|Scotland|Hungary': 25542,
 'Germany|Hungary|Scotland|Switzerland': 40132,
 'Scotland|Hungary|Switzerland|Germany': 5445,
 'Hungary|Switzerland|Germany|Scotland': 10556,
 'Switzerland|Scotland|Hungary|Germany': 6438,
 'Hungary|Switzerland|Scotland|Germany': 5320,
 'Hungary|Germany|Scotland|Switzerland': 17022,
 'Switzerland|Scotland|Germany|Hungary': 12725,
 'Scotland|Switzerland|Hungary|Germany': 5781,
 'Switzerland|Hungary|Scotland|Germany': 5873,
 'Hungary|Germany|Switzerland|Scotland': 18789,
 'Scotland|Hungary|Germany|Switzerland': 9384,
 'Hungary|Scotland|Switzerland|Germany': 4980}

In [ ]:
''